input {
  padding: 5px;
}

.table:not(:first-child){
  margin-left: 1rem;
}
.table button {
  display: block;
  padding: 5px;
  margin-left: 5px;
  margin: 5px auto;
}
.tables {
  display: flex;
  justify-content: center;
}